<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Admin/css/CategoryManage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

  
</head>
<body>
    <div id="header">
        <div class="header__nav">
            <div class="header__nav__logo">
                <img src="/images/netflix.png" alt="">
            </div>
            <div class="header__nav__mavbar">
                <ul>
                    
                     
                    <li>
                        <a href="/Admin/Home">Home</a>
                    </li>
                    <li>
                       <a href="/Admin/User">User</a>                   
                    </li>
                    <li>
                        <a href="/Admin/Category">Category</a>
                    </li>
                    <li>
                        <a href="/Admin/Film">Movies</a>
                    </li>
                    <li>
                        <a href="/Admin/Actor">Actor</a>
                    </li>
                 
                </ul>
            </div>
        </div>
        <div class="header__categoryInfor">

            <div class="header__categoryInfor__search">
                <div id="categoryInfor__search">
                    <i class="fa-solid fa-magnifying-glass" onclick="searchApear()"></i><input type="text" placeholder="Tiltles, Characters, Genres" ><i class="fa-solid fa-xmark SEARCH"></i>
                </div>
            </div>
            <div class="header__categoryInfor__account">
                <div class="categoryInfor__account__img">
                    <img src="http://occ-0-325-395.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABQ4A0D_KyHSDA95zx1UA0MK2HgY3_JC2ImiXV48pqZlpA1yUq8ePZdjlQF0_RdJEgT_B-z6bjjsR9jW82wgeXtIW8vM1pb8.png?r=b36" alt="">
                </div>
                <div class="categoryInfor__account__LogOut">
                    <button onclick="LogOut()">Exit Kids</button>
                </div>
            </div>
        </div>

    </div>
    <div id="container">
        <div class="container__body">
            <div class="container__body__content">
                <div class="body__content__header">
                    <div class="content__header__title">
                        <h1>Category</h1>
                    </div>
                    <div class="content__header__AddCategory">
                        <div class="Addcategory">
                           <a href="/Admin/AddCategory"> <p>Add Category</p> </a>
                        </div>
                    </div>
                </div>
                <div class="body__content__listCategory">
                    <div class="listCategory__header">
                        <div class="listCategory__header__nav">
                            <div class="listCategory__header__nav__Show">
                                <p>CategoryList</p>
                            </div>
                            <div class="listCategory__header__nav__Search">
                                <div class="nav__search__Category">
                                    
                                        <label for="search__Category" >Search</label>
                                        <input type="text" placeholder="Category" id="search__Category" onchange="searchCategory()">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listCategory__body">
                        <table id="table__Categorys">
                           
                            
                        </table>
                    </div>
                    <div class="listCategory__footer">
                        <div class="listCategory__footer__CountShow">
                            <p>Showing entries</p>
                        </div>
                        <div class="listCategory__footer__indexPage" id="indexPage">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        
    </div>
    <script>

        if(localStorage.getItem("Token")){  
            GetAllCategory();
        }
        else{
            window.location="/Admin/Login";
        }
        function LogOut(){
            window.location="/Admin/Login";
            localStorage.removeItem("Token");
        }
        
        function searchCategory()
        {
            var Categoryname =document.getElementById('search__Category').value;
            if(Categoryname=='')
            {
                GetAllCategory();
            }else{
                

                const xhttp = new XMLHttpRequest();
                xhttp.onload = function() 
                {
                    if(xhttp.status==200)
                    {
                        var ResponseJson=xhttp.responseText
                        var Response= JSON.parse(ResponseJson)
                        var tableCategoryElement = document.getElementById('table__Categorys');
                        var indexPageElement = document.getElementById('indexPage');
                        var indexPageHtml='';

                        indexPageHtml +='<div class="indexPage___now"><p>'+1+'</p></div>';

                        
                        var tableCategoryHtml ='<thead><tr><th>CategoryID</th><th>CategoryName</th><th>Action</th></tr></thead><tbody>';
                        for (var i =0;i<Response.length;i++){
                            tableCategoryHtml+='<tr><td>'+Response[i].id+'</td><td>'+Response[i].categoryName+'</td><td><div class="action__Category"><div class="action__Category__Edit"><i class="fa-solid fa-pen-to-square" onclick="editCategory('+Response[i].id+')"></i></div><div class="action__Category__Delete"><i class="fa-solid fa-trash"onclick="Delete('+Response[i].id+')" ></i></div></div></td></tr>'
                        }
                        tableCategoryHtml+='</body>';
                        indexPageElement.innerHTML=indexPageHtml;
                        tableCategoryElement.innerHTML=tableCategoryHtml;
                    }else if(xhttp.status==204){
                       
                    }
                    else if(xhttp.status==401)
                    {
                        localStorage.removeItem("Token");
                        window.location="/Admin/Login";
                    }
                    else if(xhttp.status==403)
                    {
                        localStorage.removeItem("Token");
                        window.location="/Admin/Login";
                    }
                }         
                //khai báo phương thức và đường dẫn để request
                xhttp.open("GET", "/ApiV1/CategoryByName/"+Categoryname+"",false);
                //định dạng gửi đi787
                xhttp.setRequestHeader("Content-type","application/json")
                token = localStorage.getItem("Token");
                authorization ='Bearer '+token
                xhttp.setRequestHeader("Authorization",authorization);
                xhttp.send();
            }
        }
        
        function GetAllCategory(){
            
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() 
            {
                if(xhttp.status==200)
                {
                    var ResponseJson=xhttp.responseText
                    var Response= JSON.parse(ResponseJson)
                    var tableCategoryElement = document.getElementById('table__Categorys');
                    var indexPageElement = document.getElementById('indexPage');
                    var indexPageHtml='';

                    indexPageHtml +='<div class="indexPage___now"><p>'+1+'</p></div>';

                    
                    var tableCategoryHtml ='<thead><tr><th>CategoryID</th><th>CategoryName</th><th>Action</th></tr></thead><tbody>';
                    for (var i =0;i<Response.length;i++){
                        tableCategoryHtml+='<tr><td>'+Response[i].id+'</td><td>'+Response[i].categoryName+'</td><td><div class="action__Category"><div class="action__Category__Edit" ><i class="fa-solid fa-pen-to-square" onclick="editCategory('+Response[i].id+')"></i> </div><div class="action__Category__Delete"><i class="fa-solid fa-trash"onclick="Delete('+Response[i].id+')" ></i></div></div></td></tr>'
                    }
                    tableCategoryHtml+='</body>';
                    indexPageElement.innerHTML=indexPageHtml;
                    tableCategoryElement.innerHTML=tableCategoryHtml;
                }else if(xhttp.status==204){
                   
                }
                else if(xhttp.status==401)
                {
                    localStorage.removeItem("Token");
                    window.location="/Admin/Login";
                }
                else if(xhttp.status==403)
                {
                    localStorage.removeItem("Token");
                    window.location="/Admin/Login";
                }
            }         
            //khai báo phương thức và đường dẫn để request
            xhttp.open("GET", "/ApiV1/AllCategory",false);
            //định dạng gửi đi787
            xhttp.setRequestHeader("Content-type","application/json")
            token = localStorage.getItem("Token");
            authorization ='Bearer '+token
            xhttp.setRequestHeader("Authorization",authorization);
            xhttp.send();
        }  

        function Delete(CategoryID){
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() 
            {
                if(xhttp.status==200)
                {
                    
                }else if(xhttp.status==204){
                   GetAllCategory();
                }
                else if(xhttp.status==401)
                {
                    localStorage.removeItem("Token");
                    window.location="/Admin/Login";
                }
                else if(xhttp.status==403)
                {
                    localStorage.removeItem("Token");
                    window.location="/Admin/Login";
                }
            }         
            //khai báo phương thức và đường dẫn để request
            xhttp.open("DELETE", "/ApiV1/CategoryById/"+CategoryID,false);
            //định dạng gửi đi787
            xhttp.setRequestHeader("Content-type","application/json")
            token = localStorage.getItem("Token");
            authorization ='Bearer '+token
            xhttp.setRequestHeader("Authorization",authorization);
            xhttp.send();
        }
        function editCategory(CategoryID){
            window.location="/Admin/EditCategory/"+CategoryID;
        }
        //cuộn màn hình
        window.addEventListener('scroll', () => {
        if (window.scrollY > 0) {
            header.classList.add('scroll');
        } else {
            header.classList.remove('scroll');
        }
        });
        
        //thanh srearch
        var search=document.querySelector(".header__categoryInfor__search input");
        search.addEventListener("focus",function(){
            document.querySelector(".header__categoryInfor__search i:first-of-type ").classList.add("focus");
        });
        search.addEventListener("blur",function(){
            document.querySelector(".header__categoryInfor__search i:first-of-type ").classList.remove("focus");
        });
        function searchApear(){
            document.querySelector(".header__categoryInfor__search input").focus();
    }
    


    </script>
</body>

</html>