<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Admin/css/FilmManage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

  
</head>
<body>
    <div id="header">
        <div class="header__nav">
            <div class="header__nav__logo">
                <img src="/images/netflix.png" alt="">
            </div>
            <div class="header__nav__mavbar">
                <ul>
                    
                    
                    <li>
                        <a href="/Admin/Home">Home</a>
                    </li>
                    <li>
                       <a href="/Admin/User">User</a>                   
                    </li>
                    <li>
                        <a href="/Admin/Category">Category</a>
                    </li>
                    <li>
                        <a href="/Admin/Film">Movies</a>
                    </li>
                    <li>
                        <a href="/Admin/Actor">Actor</a>
                    </li>
  
                </ul>
            </div>
        </div>
        <div class="header__filmInfor">

            <div class="header__filmInfor__search">
                <div id="filmInfor__search">
                    <i class="fa-solid fa-magnifying-glass" onclick="searchApear()"></i><input type="text" placeholder="Tiltles, Characters, Genres" ><i class="fa-solid fa-xmark SEARCH"></i>
                </div>
            </div>
            <div class="header__filmInfor__account">
                <div class="filmInfor__account__img">
                    <img src="http://occ-0-325-395.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABQ4A0D_KyHSDA95zx1UA0MK2HgY3_JC2ImiXV48pqZlpA1yUq8ePZdjlQF0_RdJEgT_B-z6bjjsR9jW82wgeXtIW8vM1pb8.png?r=b36" alt="">
                </div>
                <div class="filmInfor__account__LogOut">
                    <button onclick="LogOut()">Exit Kids</button>
                </div>
            </div>
        </div>

    </div>
    <div id="container">
        <div class="container__body">
            <div class="container__body__content">
                <div class="body__content__header">
                    <div class="content__header__title">
                        <h1>Film</h1>
                    </div>
                    <div class="content__header__AddFilm">
                        <div class="Addfilm">
                           <a href="/Admin/AddFilm"> <p>Add Film</p> </a>
                        </div>
                    </div>
                </div>
                <div class="body__content__listFilm">
                    <div class="listFilm__header">
                        <div class="listFilm__header__nav">
                            <div class="listFilm__header__nav__Show">
                                <p>FilmList</p>
                            </div>
                            <div class="listFilm__header__nav__Search">
                                <div class="nav__search__Film">
                                    
                                        <label for="search__Film" >Search</label>
                                        <input type="text" placeholder="Film" id="search__Film" onchange="searchFilm()">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="listFilm__body">
                        <table id="table__Films">
                           
                            
                        </table>
                    </div>
                    <div class="listFilm__footer">
                        <div class="listFilm__footer__CountShow">
                            <p>Showing entries</p>
                        </div>
                        <div class="listFilm__footer__indexPage" id="indexPage">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        
    </div>
    <script> 
        
        var indexPage=1;
        if(localStorage.getItem("Token")){  
            GetAllFilm();
            
        }
        else{
            window.location="/Admin/Login";
        }
        function LogOut(){
            window.location="/Admin/Login";
            localStorage.removeItem("Token");
        }
        function searchFilm()
        {
            var Filmname =document.getElementById('search__Film').value;
            if(Filmname=='')
            {
                GetAllFilm();
            }else{
                

                const xhttp = new XMLHttpRequest();
                xhttp.onload = function() 
                {
                    if(xhttp.status==200)
                    {
                        var ResponseJson=xhttp.responseText
                        var Response= JSON.parse(ResponseJson)
                        var tableFilmElement = document.getElementById('table__Films');
                        var indexPageElement = document.getElementById('indexPage');
                        var indexPageHtml='';

                        indexPageHtml +='<div class="indexPage___now"><p>'+indexPage+'</p></div>';

                        
                        var tableFilmHtml ='<thead><tr><th>Image</th><th>FilmName</th><th>Description</th><th>Action</th></tr></thead><tbody>';
                        for (var i =0;i<Response.length;i++){
                            tableFilmHtml+='<tr><td><div class="imgFilm" ><img src="'+Response[i].filmImage+'" alt=""></div></td><td>'+Response[i].filmName+'</td><td>'+Response[i].filmDescription+'</td><td><div class="action__Film"><div class="action__Film__Edit"><i class="fa-solid fa-pen-to-square" onclick="editFilm('+Response[i].id+')"></i></div><div class="action__Film__Delete"><i class="fa-solid fa-trash"onclick="Delete('+Response[i].id+')" ></i></div></div></td></tr>'
                        }
                        tableFilmHtml+='</body>';
                        indexPageElement.innerHTML=indexPageHtml;
                        tableFilmElement.innerHTML=tableFilmHtml;
                    }else if(xhttp.status==204){
                       
                    }
                    else if(xhttp.status==401)
                    {
                        localStorage.removeItem("Token");
                        window.location="/Admin/Login";
                    }
                    else if(xhttp.status==403)
                    {
                        var ResponseJson=xhttp.responseText
                        var Response= JSON.parse(ResponseJson)
                        
                       localStorage.removeItem("Token");
                       window.location="/Admin/Login";
                    }
                }         
                //khai báo phương thức và đường dẫn để request
                xhttp.open("GET", "/ApiV1/FilmByName/"+Filmname+"?page="+indexPage,false);
                //định dạng gửi đi787
                xhttp.setRequestHeader("Content-type","application/json")
                token = localStorage.getItem("Token");
                authorization ='Bearer '+token
                xhttp.setRequestHeader("Authorization",authorization);
                xhttp.send();
            }
        }
        
        function GetAllFilm(){
            
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() 
            {
                if(xhttp.status==200)
                {
                    var ResponseJson=xhttp.responseText
                    var Response= JSON.parse(ResponseJson)
                    var tableFilmElement = document.getElementById('table__Films');
                    var indexPageElement = document.getElementById('indexPage');
                    var indexPageHtml='';

                    indexPageHtml +='<div class="indexPage___now"><p>'+indexPage+'</p></div>';

                    
                    var tableFilmHtml ='<thead><tr><th>Image</th><th>FilmName</th><th>Description</th><th>Action</th></tr></thead><tbody>';
                    for (var i =0;i<Response.length;i++){
                        tableFilmHtml+='<tr><td><div class="imgFilm" ><img src="'+Response[i].filmImage+'" alt=""></div></td><td>'+Response[i].filmName+'</td><td><p>'+Response[i].filmDescription+'</p></td><td><div class="action__Film"><div class="action__Film__Edit" ><i class="fa-solid fa-pen-to-square" onclick="editFilm('+Response[i].id+')"></i> </div><div class="action__Film__Delete"><i class="fa-solid fa-trash"onclick="Delete('+Response[i].id+')" ></i></div></div></td></tr>'
                    }
                    tableFilmHtml+='</body>';
                    indexPageElement.innerHTML=indexPageHtml;
                    tableFilmElement.innerHTML=tableFilmHtml;
                }else if(xhttp.status==204){
                   
                }
                else if(xhttp.status==401)
                {
                    localStorage.removeItem("Token");
                    window.location="/Admin/Login";
                }
                else if(xhttp.status==403)
                {
                    localStorage.removeItem("Token");
                    window.location="/Admin/Login";
                }
            }         
            //khai báo phương thức và đường dẫn để request
            xhttp.open("GET", "/ApiV1/AllFilm",false);
            //định dạng gửi đi787
            xhttp.setRequestHeader("Content-type","application/json")
            token = localStorage.getItem("Token");
            authorization ='Bearer '+token
            xhttp.setRequestHeader("Authorization",authorization);
            xhttp.send();
        }  

        function Delete(FilmID){
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() 
            {
                if(xhttp.status==200)
                {
                    
                }else if(xhttp.status==204){
                   GetAllFilm();
                }
                else if(xhttp.status==401)
                {
                    localStorage.removeItem("Token");
                    window.location="/Admin/Login";
                }
                else if(xhttp.status==403)
                {
                    localStorage.removeItem("Token");
                    window.location="/Admin/Login";
                }
            }         
            //khai báo phương thức và đường dẫn để request
            xhttp.open("DELETE", "/ApiV1/FilmByID/"+FilmID,false);
            //định dạng gửi đi787
            xhttp.setRequestHeader("Content-type","application/json")
            token = localStorage.getItem("Token");
            authorization ='Bearer '+token
            xhttp.setRequestHeader("Authorization",authorization);
            xhttp.send();
        }
        function editFilm(FilmID){
            window.location="/Admin/EditFilm/"+FilmID;
        }
        //cuộn màn hình
        window.addEventListener('scroll', () => {
        if (window.scrollY > 0) {
            header.classList.add('scroll');
        } else {
            header.classList.remove('scroll');
        }
        });
        
        //thanh srearch
        var search=document.querySelector(".header__filmInfor__search input");
        search.addEventListener("focus",function(){
            document.querySelector(".header__filmInfor__search i:first-of-type ").classList.add("focus");
        });
        search.addEventListener("blur",function(){
            document.querySelector(".header__filmInfor__search i:first-of-type ").classList.remove("focus");
        });
        function searchApear(){
            document.querySelector(".header__filmInfor__search input").focus();
    }
    


    </script>
</body>

</html>