*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.displayBlock{
    display: block !important;
}
.displayNone{
    display: none !important;
}
.maxheight{
    max-height: 0px!important;
}
html{
    font-size: .75vw;
}
body{
    /* background-color: #141414; */
    font-family: Helvetica ,sans-serif;
    
}
#header{
    height: 68px;
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
    justify-content: space-between;
    display: flex;
    position: fixed;
    z-index:10000;
    top:0;
    left: 0;
    right: 0;
}
#header.scroll{
    background-color: #141414;    
}
#header .header__nav{
    display: flex;
    
}
.header__nav .header__nav__logo{
    
}
.header__nav__logo img{
    height: 110px;
    margin: -24px -20px 0px -6px;

}
.header__nav .header__nav__mavbar{
    display: flex;
    align-items: center;
}
.header__nav__mavbar ul{
    display: flex;
    color: white;
    list-style-type: none;
}
.header__nav__mavbar ul li{
    display: flex;
    align-items: center;    
}
.header__nav__mavbar ul li:first-of-type a{
    font-weight: 600;  
}
.header__nav__mavbar ul li a{
    
    text-decoration: none;
    color: #e5e5e5;
    margin: 10px;
    font-size: 14px;
    font-weight: 100;
}
#header .header__filmInfor{
    justify-content: flex-end;
    display: flex;
    align-items: center;
    margin-right: 4%;
    flex-grow: 1;
}
.header__filmInfor .header__filmInfor__search{
    
    
}
.header__filmInfor__search #filmInfor__search{
    position: relative;    

}
.header__filmInfor__search i:first-of-type {
    color: white;
    top:20%;
    position: absolute;
    font-size: 2rem;
    right: 0.8rem;
    z-index: 1;
    cursor: pointer;
    
    
}

.header__filmInfor__search input[type=text]{
    
    background-color: transparent;
    border: none;
    color: white;
    width: 0;
    /* display: none; */
    font-size: 16px;    
    
    padding: 6px 40px 6px 40px;
    transition: width  ease-in 0.5s;
}
.header__filmInfor__search input[type=text]:focus{
    border: none;
    width: 300px;
    background-color: #141414;
    opacity: 0.8;
    
}
.header__filmInfor__search input[type=text]:focus ~i{
    right: 0.8rem;
}
.focus{
    left: 14px !important;
}
.header__filmInfor__search i:last-of-type {
    
    display: none;
    color: white;
    top:20%;
    position: absolute;
    opacity: 1;
    z-index: 2;
    font-size: 16px;
    cursor: pointer;
}
.header__filmInfor__search input[type=text]:focus +i{
    top:20%;
    position: absolute;
    display: flex;
    
    right: 14px;
}

.header__filmInfor .header__filmInfor__account{
    display: flex;
    align-items: center;
}

.header__filmInfor__account .filmInfor__account__img{
    display: flex;
    margin: 0 10px;
    
}
.filmInfor__account__img img{
    border-radius: 4px;
}
.header__filmInfor__account .filmInfor__account__LogOut{

}
.filmInfor__account__LogOut button{
    font-size: 14px;
    background: #e50914;
    color: #fff;
    padding-left: 10px;
    padding-right: 8px;
    border: none;
    height: 36px;
    border-radius: 4px;
    cursor: pointer;
    min-width: 110px;
    font-weight: 600;
}
#header .header__mute{
    position: fixed;
    bottom: 10%;
    right: 10%;
}
.header__mute .header_mute__icon{
    width: 50px;
    height: 50px;
    padding: auto;
    border: 1px solid white;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    background-size: contain;
}
.header_mute__icon i{
    position: absolute;
    top:15%;
    left: 10%;
    font-size: 30px;
    color: white;
    font-weight: 100;
}

#container{
    background-color:  #141414; 
    overflow: hidden;
    min-height: 100vh;
    
}
#container .container__body{
    background-color: #141414;
    margin-top: 70px;
    padding-top: 30px;
}
.container__body .container__body__content{
    width: 96%;
    margin: auto;
   
     background-color:#191919;
    
}
.container__body__content .body__content__header{
    padding: 20px;
    border-bottom: 2px solid #141414;
    display: flex;
    justify-content: space-between;
}
.body__content__header .content__header__title{

}
.content__header__title h1{
    color: white;
    
    font-size: 24px;
   
    font-weight: 600;
    margin: 0px;
    line-height: 1.5;
}
.body__content__header .content__header__AddActor{

}
.content__header__AddActor .Addfilm{
    background-color: #e50914;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}
.Addfilm:hover{
    opacity: 0.7;
}
.Addfilm a{
    text-decoration: none;
}
.Addfilm a p{
    color: white;
    font-size: 16px;
    line-height: 1.5;
   

}
.container__body__content .body__content__listActor{
    padding: 20px;
}
.body__content__listActor .listActor__header{

}
.listActor__header .listActor__header__nav{
    display: flex;
    justify-content: space-between;
}
.listActor__header__nav .listActor__header__nav__Show{

}
.listActor__header__nav__Show p{
    font-size: 20px;
    color: white;
    font-weight: 600;
}
.listActor__header__nav .listActor__header__nav__Search{

}
.listActor__header__nav__Search .nav__search__Actor{

}
.nav__search__Actor #search__Actor{

}
.nav__search__Actor label{
  
    font-size: 20px;
    margin-right: 20px;
    color: white;
    
}
#search__Actor {
    background-color: #141414;
    border: none;
    padding: 10px;
    border-radius: 4%;
    color:#83878a;
}
#search__Actor:focus{
   
    outline: none;
}
.body__content__listActor .listActor__body{
    padding-top: 20px;
}
.listActor__body #table__Actors{
    width: 100%;
    border-collapse: collapse;

}
thead,tbody{
    color: #83878a;
    border: none;

}
th,tr,td{
    text-align: center;
    font-size: 20px;
    font-size: 100;
    border: none;
    background-color: #141414;
    line-height: 50px;
}
tr{
    
    border-bottom: 10px solid #191919;
    font-size: 18px;
}
td{
    color: white;
    font-size: 16px;
}
td .imgActor{
    display: flex;
    text-align: center;
    justify-content: center;
} 
td .imgActor img{
    width: 100px;
   
    object-fit: cover;
}
td .action__Actor{
    display: flex;
    text-overflow: ellipsis; 
    justify-content: space-around;
}

td p{
    text-align: center;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-height: 200px;    
    margin:auto;
}
.action__Actor i{

}
.action__Actor .action__Actor__Edit{
    cursor: pointer;
    color: green;
    
    
}
.action__Actor .action__Actor__Delete{
    cursor: pointer;
    color: red;
}
.body__content__listActor .listActor__footer{
    margin-top: 20px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    color: white;
}
.listActor__footer .listActor__footer__CountShow{
   

}
.listActor__footer__CountShow p{

}
.listActor__footer .listActor__footer__indexPage{
    display: flex;
}
.listActor__footer__indexPage .indexPage___prev{

}
.listActor__footer__indexPage p{
    margin-right: 10px;
    cursor: pointer;
}
.indexPage___prev p{
    
}
.listActor__footer__indexPage .indexPage___now{

}
.indexPage___now p{

}
.listActor__footer__indexPage .indexPage___next{

}
.indexPage___next p{

}
#footer{
    /* height: 100px;
    background-color: #141414; */
}
