*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.displayBlock{
    display: block !important;
}
.displayNone{
    display: none !important;
}
.maxheight{
    max-height: 0px!important;
}
html{
    font-size: .75vw;
}
body{
    /* background-color: #141414; */
    font-family: Helvetica ,sans-serif;
    
}
#header{
    height: 68px;
    background-image: linear-gradient(180deg,rgba(0,0,0,.7) 10%,transparent);
    justify-content: space-between;
    display: flex;
    position: fixed;
    z-index:10000;
    top:0;
    left: 0;
    right: 0;
}
#header.scroll{
    background-color: #141414;    
}
#header .header__nav{
    display: flex;
    
}
.header__nav .header__nav__logo{
    
}
.header__nav__logo img{
    height: 110px;
    margin: -24px -20px 0px -6px;

}
.header__nav .header__nav__mavbar{
    display: flex;
    align-items: center;
}
.header__nav__mavbar ul{
    display: flex;
    color: white;
    list-style-type: none;
}
.header__nav__mavbar ul li{
    display: flex;
    align-items: center;    
}
.header__nav__mavbar ul li:first-of-type a{
    font-weight: 600;  
}
.header__nav__mavbar ul li a{
    
    text-decoration: none;
    color: #e5e5e5;
    margin: 10px;
    font-size: 14px;
    font-weight: 100;
}
#header .header__userInfor{
    justify-content: flex-end;
    display: flex;
    align-items: center;
    margin-right: 4%;
    flex-grow: 1;
}
.header__userInfor .header__userInfor__search{
    
    
}
.header__userInfor__search #userInfor__search{
    position: relative;    

}
.header__userInfor__search i:first-of-type {
    color: white;
    top:20%;
    position: absolute;
    font-size: 2rem;
    right: 0.8rem;
    z-index: 1;
    cursor: pointer;
    
    
}

.header__userInfor__search input[type=text]{
    
    background-color: transparent;
    border: none;
    color: white;
    width: 0;
    /* display: none; */
    font-size: 16px;    
    
    padding: 6px 40px 6px 40px;
    transition: width  ease-in 0.5s;
}
.header__userInfor__search input[type=text]:focus{
    border: none;
    width: 300px;
    background-color: #141414;
    opacity: 0.8;
    
}
.header__userInfor__search input[type=text]:focus ~i{
    right: 0.8rem;
}
.focus{
    left: 14px !important;
}
.header__userInfor__search i:last-of-type {
    
    display: none;
    color: white;
    top:20%;
    position: absolute;
    opacity: 1;
    z-index: 2;
    font-size: 16px;
    cursor: pointer;
}
.header__userInfor__search input[type=text]:focus +i{
    top:20%;
    position: absolute;
    display: flex;
    
    right: 14px;
}

.header__userInfor .header__userInfor__account{
    display: flex;
    align-items: center;
}

.header__userInfor__account .userInfor__account__img{
    display: flex;
    margin: 0 10px;
    
}
.userInfor__account__img img{
    border-radius: 4px;
}
.header__userInfor__account .userInfor__account__LogOut{

}
.userInfor__account__LogOut button{
    font-size: 14px;
    background: #e50914;
    color: #fff;
    padding-left: 10px;
    padding-right: 8px;
    border: none;
    height: 36px;
    border-radius: 4px;
    cursor: pointer;
    min-width: 110px;
    font-weight: 600;
}
#header .header__mute{
    position: fixed;
    bottom: 10%;
    right: 10%;
}
.header__mute .header_mute__icon{
    width: 50px;
    height: 50px;
    padding: auto;
    border: 1px solid white;
    border-radius: 50%;
    position: relative;
    cursor: pointer;

    background-size: contain;
}
.header_mute__icon i{
    position: absolute;
    top:15%;
    left: 10%;
    font-size: 30px;
    color: white;
    font-weight: 100;
}

#container{
    background-color: #141414;
    min-height: 100vh;
    overflow: hidden;
    
}
#container .container__body{
    background-color: #141414;
    margin-top: 70px;
    padding-top: 30px;
}
.container__body .container__body__content{
    width: 96%;
    margin: auto;
   
     background-color:#191919;
    
}
.container__body__content .body__content__header{
    padding: 20px;
    border-bottom: 2px solid #141414;
}
.body__content__header .content__header__title{

}
.content__header__title h1{
    color: white;
    
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin: 0px;
    line-height: 1.5;
}
.container__body__content .body__content__Film{
    padding: 20px;
}
.body__content__Film .Film__infor{
}
.Film__infor .Film__infor__content{
    display: flex;
    justify-content: space-between;
}
.Film__infor__content .Film__input__Text{
    width: 50%;
    
}
.Film__input__Text .content__Film__input{
    
}
.content__Film__input label{
    color: white;
    font-size: 20px;
    margin-left: 10px;
}
.content__Film__input input{
    margin-top: 10px;
    width: 100%;
    border: none;
    outline: none;
    background-color: #141414;
    padding: 16px;
    margin-bottom: 20px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
}
.content__Film__input select{
    margin-top: 10px;
    width: 100%;
    background-color: #141414;
    color: white;
    padding: 16px;
    margin-bottom: 20px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 10px;
   
}
.content__Film__input .CategoryList{
    margin-top: 10px;
    width: 100%;
    background-color: #141414;
    color: white;
   
    margin-bottom: 20px;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    min-height: 50px;
}
.CategoryList .Category__select{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 5px;
    color: #141414;
    background-color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    
}

.content__Film__input .ActorList{
    margin-top: 10px;
    width: 100%;
    background-color: #141414;
    color: white;
   
    margin-bottom: 20px;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    min-height: 50px;
}
.ActorList .Actor__select{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 5px;
    color: #141414;
    background-color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    
}
.content__Film__input textarea{
    margin-top: 10px;
    width: 100%;
    background-color: #141414;
    color: white;
    padding: 16px;
    
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 10px;
    height: 200px;
}
.Film__infor__content .Film__input__file{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.Film__input__file .input__file {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}   
.input__file   label{
color: white;
font-size: 20px;
margin-bottom: 10px;
}
.input__file  input::-webkit-file-upload-button {
    visibility: hidden;
    
}
.input__file .Change__inputFile{
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    
}
.Change__inputFile img{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid white;
    object-fit: contain;
   
}
.Change__inputFile video{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid white;
    
}
.Change__inputFile .pause-playVideo{
    position: absolute;
    right: 50%;
    height: 20%;
    top: 50%;
    color: white;
    z-index: 10;
    font-size: 20px;
}
.pause-playVideo i{
    cursor: pointer;
    display: none;
}
.Change__inputFile:hover i{
    display: block;
}
.input__file input{
    position: absolute;
    width: 100%;
    height: 100%;
}
.input__file input::before{
    content: ".";
    display: inline-block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.Film__infor #Chapter__infor{
    display: none;
}
#Chapter__infor .content__Chapter__input{

}
.content__Chapter__input label{
    
    color: white;
    font-size: 20px;
    margin-left: 10px;
}
.content__Chapter__input input{
    margin-top: 10px;
    width: 100%;
    background-color: #141414;
    color: white;
    padding: 16px;
    margin-bottom: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 10px;
    
}
.content__Chapter__input textarea{
    margin-top: 10px;
    width: 100%;
    background-color: #141414;
    color: white;
    padding: 16px;
    
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 10px;
    height: 200px;
}
.body__content__Film .Save__Change{
    display: flex;
    margin-top: 20px;
    justify-content: center;
}
.Save__Change #save__button{
    color: white;
    font-size: 16px;
    background-color: #e50914;
    padding: 10px;
    display: flex;
    justify-content: center;
    border-radius: 60px;
    width: 100px;
    cursor: pointer;
}
/*oke*/
.container__body .ChapterByFilm{
    border-top: 2px solid #141414;
    padding: 20px;
    width: 96%;
    margin: auto;
    margin-top: 40px;
     background-color:#191919;
}

.ChapterByFilm .listChapter__header{
    width: 96%;
    margin: auto;
     background-color:#191919;
}
.listChapter__header .listChapter__header__nav{
    display: flex;
    justify-content: space-between;
}
.listChapter__header__nav .listChapter__header__nav__Show{

}
.listChapter__header__nav__Show p{
    font-size: 20px;
    color: white;
    font-weight: 600;
}
.listChapter__header__nav .listChapter__header__nav__Search{

}
.listChapter__header__nav__Search .nav__search__Chapter{

}
.nav__search__Chapter #search__Chapter{

}
.nav__search__Chapter label{
  
    font-size: 20px;
    margin-right: 20px;
    color: white;
    
}
#search__Chapter {
    background-color: #141414;
    border: none;
    padding: 10px;
    border-radius: 4%;
    color:#83878a;
}
#search__Chapter:focus{
   
    outline: none;
}
.ChapterByFilm .listChapter__body{
    padding-top: 20px;
}
.listChapter__body #table__Chapters{
    width: 100%;
    border-collapse: collapse;

}
thead,tbody{
    color: #83878a;
    border: none;

}
th,tr,td{
    text-align: center;
    font-size: 20px;
    font-size: 100;
    border: none;
    background-color: #141414;
    line-height: 50px;
}
tr{
    
    border-bottom: 10px solid #191919;
    font-size: 18px;
}
td{
    color: white;
    font-size: 16px;
}
td .action__Chapter{
    display: flex;
    text-overflow: ellipsis; 
    justify-content: space-around;
}

.action__Chapter i{

}
.action__Chapter .action__Chapter__Edit{
    cursor: pointer;
    color: green;
    
    
}
.action__Chapter .action__Chapter__Delete{
    cursor: pointer;
    color: red;
}
.ChapterByFilm .listChapter__footer{
    margin-top: 20px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    color: white;
}
.listChapter__footer .listChapter__footer__CountShow{
   

}
.listChapter__footer__CountShow p{

}
.listChapter__footer .listChapter__footer__indexPage{
    display: flex;
}
.listChapter__footer__indexPage .indexPage___prev{

}
.listChapter__footer__indexPage p{
    margin-right: 10px;
    cursor: pointer;
}
.indexPage___prev p{
    
}
.listChapter__footer__indexPage .indexPage___now{

}
.indexPage___now p{

}
.listChapter__footer__indexPage .indexPage___next{

}
.indexPage___next p{

}
#footer{
    height: 100px;
    background-color: #141414;
}