<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
<link rel="stylesheet" href="/Home/css/ChangePassword.css">
<title>Netflix - Watch TV Shows Online, Watch Movies Online</title>
</head>
<body>
    <div id="header">
        <div class="header__img">
            <img src="https://i.ibb.co/vXqDmnh/background.jpg" alt="">
        </div>
    </div>
    <div class="showcase">
        
            <div class="logo">
                <img src="https://i.ibb.co/r5krrdz/logo.png">
            </div>

            <div class="showcase-content">
                <div class="formm">
                    <div>
                        <h1>Change Password</h1>
                        <div id="ChangePassword__Eror">
                            
                        </div>
                        <div class="info">
                            <div class="info__Input">
                                <label for="PasswordNew" >Nhập mật khẩu mới</label>
                                <input class="email" onkeyup="ChangePasswordByEnter()" id="PasswordNew" type="password" > 
                                <div class="passwordNew__Error Error">
                                    <p>Vui lòng nhập mật khẩu</p>
                                </div>
                            </div>
                            <div class="info__Input">
                                <label for="passwordRepeat" >Nhập Lại mật khẩu</label>
                                <input id="passwordRepeat" onkeyup="ChangePasswordByEnter()" class="email" type="password" >
                                <div class="passwordRepeat__Error Error">
                                  <p>Vui lòng nhập lại mật khẩu</p>
                                </div>
                            </div>
                            <div class="info__Input">
                                <label for="password" >Mật khẩu cũ</label>
                                <input id="password" onkeyup="ChangePasswordByEnter()" class="email" type="password" >
                                <div class="password__Error Error">
                                    <p>Mật khẩu của bạn phải chứa từ 4 đến 60 ký tự.</p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="btn">
                            <button class="btn-primary" type="submit" onclick="ChangePassword()">Sign Up</button>
                        </div>
                        <div class="help">

                            <a href="https://www.netflix.com/dz-en/ChangePasswordHelp">Need Help ?</a>
                        
                        </div>

                    </div>
    
                </div>
                
              

            </div>

       
           
       
        </div>


</body>
<script>
    var passwordnewInput=document.getElementById("PasswordNew");
    var passwordInput=document.getElementById("password");
    var passwordRepeatInput=document.getElementById("passwordRepeat");
    var labelPasswordNew = document.querySelector("label[for='" + passwordnewInput.id + "']");
    var labelPassword = document.querySelector("label[for='" + passwordInput.id + "']");
    var labelPasswordRepeat = document.querySelector("label[for='" + passwordRepeatInput.id + "']");
    if(passwordInput.value==''){

        labelPasswordNew.style.fontSize="11px";
        labelPasswordNew.style.top="7px";
    }
    if(passwordnewInput.value=='')
    {
        labelPassword.style.fontSize="11px";
        labelPassword.style.top="7px";
    }
    if(passwordRepeatInput.value=='')
    {
        labelPasswordRepeat.style.fontSize="11px";
        labelPasswordRepeat.style.top="7px";
    }
    passwordnewInput.addEventListener("focus",() => {
        var passwordnewError=document.querySelector(".passwordNew__Error.Error");
        var ChangePasswordinforError = document.querySelector('#ChangePassword__Eror');
        passwordnewError.style.display="none";
        ChangePasswordinforError.style.display="none";
        passwordnewInput.style.borderBottom ="none";
        labelPasswordNew.style.fontSize="11px";
        labelPasswordNew.style.top="7px";
    });
    passwordnewInput.addEventListener("blur",() => {
        var passwordnewError=document.querySelector(".passwordNew__Error.Error");
        
        if(passwordnewInput.value==''){
            passwordnewError.innerHTML="Vui lòng nhập passwordNew";
            passwordnewError.style.display="block";
            passwordnewInput.style.borderBottom ="2px solid #e87c03";
            labelPasswordNew.style.fontSize="16px";
            labelPasswordNew.style.top="23%";
            
        }
        else if(passwordnewInput.value.length<4){
                  
                passwordnewError.innerHTML="Mật khẩu của bạn phải chứa từ 4 đến 60 ký tự.";
                passwordnewError.style.display="block";
                passwordnewInput.style.borderBottom ="2px solid #e87c03";
            
        }

    });
    passwordInput.addEventListener("focus",() => {
        
        var passwordError=document.querySelector(".password__Error.Error");
        var ChangePasswordinforError =document.querySelector('#ChangePassword__Eror');
        passwordError.style.display="none";
        ChangePasswordinforError.style.display="none";
        passwordInput.style.borderBottom ="none";
        labelPassword.style.fontSize="11px";
        labelPassword.style.top="7px";
    });
    passwordInput.addEventListener("blur",() => {
        
        var passwordError=document.querySelector(".password__Error.Error");
        
        if(passwordInput.value==''){
            passwordError.innerHTML="Mật khẩu của bạn phải chứa từ 4 đến 60 ký tự.";
            passwordError.style.display="block";
            passwordInput.style.borderBottom ="2px solid #e87c03";
            labelPassword.style.fontSize="16px";
            labelPassword.style.top="23%";
        }else if(passwordInput.value.length<4 ){
            passwordError.innerHTML="Mật khẩu của bạn phải chứa từ 4 đến 60 ký tự.";
            passwordError.style.display="block";
            passwordInput.style.borderBottom ="2px solid #e87c03";
        }
        else{
           /* passwordnewError.innerHTML="Vui lòng nhập email hoặc số điện thoại hợp lệ.";
            passwordnewError.style.display="block";*/
        }

    });
    passwordRepeatInput.addEventListener("focus",() => {
        
        var passwordRepeatError=document.querySelector(".passwordRepeat__Error.Error");
        var ChangePasswordinforError =document.querySelector('#ChangePassword__Eror');
        passwordRepeatError.style.display="none";
        ChangePasswordinforError.style.display="none";
        passwordRepeatInput.style.borderBottom ="none";
        labelPasswordRepeat.style.fontSize="11px";
        labelPasswordRepeat.style.top="7px";
    });
    passwordRepeatInput.addEventListener("blur",() => {
        
        var passwordRepeatError=document.querySelector(".passwordRepeat__Error.Error");
        
        if(passwordRepeatInput.value==''){
            passwordRepeatError.innerHTML="Mật khẩu của bạn phải chứa từ 4 đến 60 ký tự.";
            passwordRepeatError.style.display="block";
            passwordRepeatInput.style.borderBottom ="2px solid #e87c03";
            labelPasswordRepeat.style.fontSize="16px";
            labelPasswordRepeat.style.top="23%";
        }else if(passwordRepeatInput.value.length<4 ){
            passwordRepeatError.innerHTML="Mật khẩu của bạn phải chứa từ 4 đến 60 ký tự.";
            passwordRepeatError.style.display="block";
            passwordRepeatInput.style.borderBottom ="2px solid #e87c03";
        }
        else if(passwordRepeatInput.value!=passwordnewInput.value){
            passwordRepeatError.innerHTML="Mật khẩu nhập lại không khớp.";
            passwordRepeatError.style.display="block";
            passwordRepeatInput.style.borderBottom ="2px solid #e87c03";
        }

    });
    function ChangePasswordByEnter(){
        if(event.keyCode==13){
            ChangePassword();
        }
    }
    function ChangePassword()
    {
        const xhttp = new XMLHttpRequest();
        xhttp.onload = function() 
        {
            var ResponseJson=xhttp.responseText
            var Response= JSON.parse(ResponseJson)
            if(xhttp.status==200)
            {
                window.location='/Home';
                
            }
            else
            {

                document.querySelector('#ChangePassword__Eror').innerHTML='<p>'+Response.message+'</p>'
                document.querySelector('#ChangePassword__Eror').style.display='block';
            }
        }         
        const userInfo={
            passwordNew:passwordnewInput.value,
            password:passwordInput.value,
        }
        postData=JSON.stringify(userInfo)
        xhttp.open("PATCH", "/ApiV1/ChangePassword",false);
        xhttp.setRequestHeader("Content-type","application/json")
        token = localStorage.getItem("Token");
        authorization ='Bearer '+token
        xhttp.setRequestHeader("Authorization",authorization);
        xhttp.send(postData)
    }
</script>
</html>


