<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Home/css/detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="/font/css/tuan.css" >
</head>
<body>
    <div id="container">
        <div class="container__body">
            <div class="container__video" id="videoChapter">
               
            </div>
            <div class="container__video__option">
                <div class="video__option__time">
                    <div class="video__option__timeLoad">
                        <div class="video__option__timeNow">
                            <div class="option__timeNow__end">
    
                            </div>
                        </div>
                    </div>            
                </div>
                <div class="video__option__setup">
                    <div class="option__setup__video">
                        <div class="setup__video__listIcon">
                            <div class="video__listIcon__icon pause-play" >
                                <div class="icon__detail">
                                    <i class="icon-play"></i>
                                </div>
                            </div>
                            <div class="video__listIcon__icon prevTenSecond">
                                <div class="icon__detail">
                                    <i class="fa-solid fa-rotate-left"></i>
                                </div>
                            </div>
                            <div class="video__listIcon__icon nextTenSecond">
                                <div class="icon__detail">
                                    <i class="fa-solid fa-rotate-right"></i>
                                </div>
                            </div>
                            <div class="video__listIcon__icon volumn">
                                <div class="icon__detail">
                                    <i class="icon-volume-up-1"></i>
                                </div>
                                <div class="volumn__setup">
                                    <div class="volumn__setup__volumnAll">
                                        <div class="volumn__setup__volumnNow">
                                            <div class="volumn__setup__volumnEnd">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="option__name" id="nameChapterSetup">
                       
                    </div>
                    <div class="option__setup__about">
                        <div class="video__listIcon__icon">
                            <div class="icon__detail">
                                <i class="icon-popup"></i>
                            </div>
                            <div class="listChapterHover"></div>
                            <div class="listChapterFilm">
                                <div id="listChapterFilm__container">
                                   
                                </div>
                            </div>
                        </div>
                        <div class="video__listIcon__icon">
                            <div class="icon__detail">
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="RateHover"></div>
                            <div class="RateChapter">
                                <div id="RateChapter__container">
                                    <h1>Rating</h1>
                                    <div class="rating">
                                        <span class="star" data-value="1">&#9733;</span>
                                        <span class="star" data-value="2">&#9733;</span>
                                        <span class="star" data-value="3">&#9733;</span>
                                        <span class="star" data-value="4">&#9733;</span>
                                        <span class="star" data-value="5">&#9733;</span>
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="video__listIcon__icon">
                            <div class="icon__detail">
                                <i class="icon-play"></i>
                            </div>
                        </div>
                        <div class="video__listIcon__icon fullScreen">
                            <div class="icon__detail">
                                <i class="icon-fullScreen"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="loading">
                <div class="loading__icon">
                    <i class="icon-reload"></i>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/Home/js/Detail.js"></script>
</html>