<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Home/css/UserInfor.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

</head>
<body>
    <div id="header">
        <div class="header__nav">
            <div class="header__nav__logo">
                <img src="/images/netflix.png" alt="">
            </div>
            <div class="header__nav__mavbar">
                <ul>
                    
                    <li>
                        <a href="/Home">Home</a>
                    </li>
 
            
                </ul>
            </div>
        </div>
        <div class="header__userInfor">

            <div class="header__userInfor__search">
                <div id="userInfor__search">
                    <i class="fa-solid fa-magnifying-glass" onclick="searchApear()"></i><input type="text" placeholder="Tiltles, Characters, Genres" ><i class="fa-solid fa-xmark SEARCH"></i>
                </div>
            </div>
            <div class="header__userInfor__account">
                <div class="userInfor__account__img">
                    <a href="/Home/UserInfor">
                        <img src="http://occ-0-325-395.1.nflxso.net/dnm/api/v6/K6hjPJd6cR6FpVELC5Pd6ovHRSk/AAAABQ4A0D_KyHSDA95zx1UA0MK2HgY3_JC2ImiXV48pqZlpA1yUq8ePZdjlQF0_RdJEgT_B-z6bjjsR9jW82wgeXtIW8vM1pb8.png?r=b36" alt="">
                    </a>
                </div>
                <div class="userInfor__account__LogOut">
                    <button onclick="LogOut()">Exit Kids</button>
                </div>
            </div>
        </div>

    </div>
    <div id="container">
        <div class="container__body">
            <div class="container__body__content">
                <div class="body__content__header">
                    <div class="content__header__title">
                        <h1>EditUser</h1>
                    </div>
                    <div class="content__header__ChangePassword">
                        <div class="ChangePassword">
                           <a href="/Home/UserChangePassword"> <p>ChangePassword</p> </a> 
                        </div>
                </div>
                </div>
                
                <div class="body__content__User">
                    <div class="User__infor" id="userEdit__inFor">
                        
                    </div>
                    <div class="Save__Change">
                        <div id="save__button" onclick="Save()">
                            Save
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div id="footer">
        
    </div>
    <script> 
        if(localStorage.getItem("Token")){
            GetUser()
            
        }
        else{
            window.location="/Login";
        }
        function LogOut(){
            window.location="/Login";
            localStorage.removeItem("Token");
        }
        function GetUser(){
            
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() 
            {
                if(xhttp.status==200)
                {
                var ResponseJson=xhttp.responseText;
                var Response= JSON.parse(ResponseJson);
                  var userByIDElement =document.getElementById('userEdit__inFor');
                  var userByIDHtml='<div class="User__infor__UserName"><label for="UserName">UserName</label><div class="infor__notchange">'+Response.username+'</div></div><div class="User__infor__FullName"><label for="FullName">FullName</label><input type="text" id="FullName" value="'+Response.fullName+ '"></div>';
                  userByIDElement.innerHTML=userByIDHtml;
                }else if(xhttp.status==204){
                   
                }
                else if(xhttp.status==401)
                {
                    localStorage.removeItem("Token");
                    window.location="/Login";
                }
                else if(xhttp.status==403)
                {
                    localStorage.removeItem("Token");
                    window.location="/Login";
                }
            }         
            //khai báo phương thức và đường dẫn để request
            xhttp.open("GET", "/ApiV1/UserByLogin",false);
            //định dạng gửi đi787
            xhttp.setRequestHeader("Content-type","application/json")
            token = localStorage.getItem("Token");
            authorization ='Bearer '+token
            xhttp.setRequestHeader("Authorization",authorization);
            xhttp.send();
        }
        function Save(){
            const xhttp = new XMLHttpRequest();
            xhttp.onload = function() 
            {
                if(xhttp.status==200)
                {
                    window.location='/Home/UserInfor'
                }else if(xhttp.status==204){
                   
                }
                else if(xhttp.status==401)
                {
                    localStorage.removeItem("Token");
                    window.location="/Admin/Login";
                }
                else if(xhttp.status==403)
                {
                    localStorage.removeItem("Token");
                    window.location="/Admin/Login";
                }
            }         
            const userPost ={
                
                fullName: document.getElementById('FullName').value
            }
            var userPostJson =JSON.stringify(userPost);
            //khai báo phương thức và đường dẫn để request
            xhttp.open("PATCH", "/ApiV1/UserByLogin",false);
            //định dạng gửi đi787
            xhttp.setRequestHeader("Content-type","application/json")
            token = localStorage.getItem("Token");
            authorization ='Bearer '+token
            xhttp.setRequestHeader("Authorization",authorization);
            xhttp.send(userPostJson);
        }
        //cuộn màn hình
        window.addEventListener('scroll', () => {
        if (window.scrollY > 0) {
            header.classList.add('scroll');
        } else {
            header.classList.remove('scroll');
        }
        });
        
        //thanh srearch
        var search=document.querySelector(".header__userInfor__search input");
        search.addEventListener("focus",function(){
            document.querySelector(".header__userInfor__search i:first-of-type ").classList.add("focus");
        });
        search.addEventListener("blur",function(){
            document.querySelector(".header__userInfor__search i:first-of-type ").classList.remove("focus");
        });
        function searchApear(){
            document.querySelector(".header__userInfor__search input").focus();
    }
    


    </script>
</body>

</html>